@import "normalize";
@import "helpers";
@import "mixins";

$color: #222;
$font-size: 14;
$font-family: garamond, georgia, serif;
$text-highlight-color: #b3d4fc;

html {
    font-size: 62.5%;
}

body,
button,
input,
select,
textarea {
    color: $color;
    font-family: $font-family;
}

body {
    @include font-size($font-size);
}

::-moz-selection {
    background: $text-highlight-color;
    text-shadow: none;
}

::selection {
    background: $text-highlight-color;
    text-shadow: none;
}

/* Author: Saul Hardman (@saulhardman) */

body {
    margin: 0 auto;
    padding: 60px 30px;
    *width: 600px;
    max-width: 600px;
}

h1, h2, h3 {

}

p, ul {
    @include line-height(24);
}

blockquote {
    margin: 0 0 0 -10px;
    padding: 10px;
    font-family: helvetica, arial, verdana, serif;
    @include font-size(12);
    background: #e5e5e5;

    &:before {
        content: "Notes: ";
        font-weight: 600;
    }

    p {
        margin: 10px 0 0;
    }
}

@import "media-queries";