<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dissertation</title>
    <meta name="description" content="An open source dissertation on the design problems involved with ubiquitous systems.">
    <meta name="author" content="Saul Hardman">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css"> -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>
  <body>
    {{ content }}
  </body>
</html>